@font-face {
    font-family: "tt";
    src: url(../font/TTLakes-Regular.ttf);
}


body {
    font-family: "tt";
    background-color: #F8F8F8;
    border-bottom: solid 1px #D9FFF5;
}

.main__title {
    padding-left: 12px;
    position: relative;
    font-weight: 900;

    @media (min-width: 768px) {
        padding-left: 24px;
    }
}

.main__title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.text-about {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 22px;
    }
}

.text-about p {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;

    @media (min-width: 768px) {
        grid-column: 1 / 2;
        padding-right: 80px;
    }
}

.about {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }

}

.read-more-container {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: 768px) {
        grid-column: 1 / 2;
        margin-top: -45px;
        gap: 1px;
    }
}


.arrow {
    padding-left: 16px;
}


.read-more-text {
    margin-left: 8px;
}

.company-picture {
    width: 100%;
    margin-top: 16px;

    @media (min-width: 768px) {
        grid-column: 2 / 3;
        margin-top: -150px;
        object-fit: cover;
        border-radius: 15px;
        width: 95%;
    }
}

.swiper1 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 5;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 16px;

}


.swiper1-tab {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 210px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    white-space: nowrap;
}

.swiper1-tab.active-tab {
    color: #7E7E82;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    margin-right: 16px;
}

.second-heading {
    border-top: solid 1px #D9FFF5 !important;
    background-color: #FFFFFF !important;
    color: #7E7E82 !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    padding: 16px 16px !important;
}

.swiper2 {
    margin-left: 16px !important;
    margin-bottom: 40px !important;

    @media (min-width: 768px) {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px !important;
        column-gap: 0 !important;
        overflow: visible !important;
        height: auto !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        margin-bottom: 16px !important;
    }

}

.slide2 {
    display: flex !important;
    width: 210px !important;
    height: 32px !important;
    gap: 40px !important;
    background-color: #FFFFFF !important;
    padding: 20px 16px !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;

    @media (min-width: 768px) {
        width: 190px !important;
        height: 32px !important;
    }
}

.brand-image {
    width: 108px !important;
    height: 32px !important;
    object-fit: contain !important;
}

.brand-go {
    width: 35px !important;
    height: 35px !important;
    padding-left: 30px !important;

    @media (min-width: 768px) {
        padding-left: 10px !important;
    }
}

.swiper3 {
    margin-left: 16px !important;
    margin-bottom: 40px !important;
}

.slide3 {
    display: flex !important;
    width: 220px !important;
    height: 150px !important;
    gap: 40px !important;
    background-color: #FFFFFF !important;
    padding: 20px 16px !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;
}

.brand-go-technic {
    position: absolute !important;
    width: 35px !important;
    height: 35px !important;
    padding-left: 184px !important;
    padding-top: 125px !important;
}

.my-swiper-pagination {
    width: 100% !important;
    bottom: -0px !important;
    left: 0 !important;
    height: 20px !important;
}


.swiper4 {
    margin-left: 16px !important;
    margin-bottom: 40px !important;
}

.slide4 {
    display: flex !important;
    width: 250px !important;
    height: 200px !important;
    background-color: #FFFFFF !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;
    flex-direction: column !important;
    font-size: 14px !important;
}

.slide4 h3 {
    color: #7E7E82;
    font-weight: lighter !important;
    margin-left: 16px !important;
}

.slide4 p {
    font-weight: lighter !important;
    margin-top: -10px !important;
    margin-left: 16px !important;
    margin-bottom: -2px !important;
}

.order {
    background-color: #FF3E79 !important;
    border-radius: 16px !important;
    border: 2px solid #EAEAEA !important;
    color: #FFFFFF !important;
    height: 32px !important;
    width: 119px !important;
    position: absolute !important;
    margin-left: 120px !important;
    margin-top: 160px !important;
    font-weight: bold !important;
}

// Стили для пагинации
.swiper-pagination {
    position: relative;
    margin-top: 20px !important;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #DDDDDD !important;
    opacity: 1 !important;
    margin: 0 6px !important;
    transition: all 0.3s ease !important;
    display: inline-block !important;
    border-radius: 50% !important;
    cursor: pointer !important;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
    transform: scale(1.2) !important;
}

// Специальные стили для каждого слайдера
.brands .swiper-pagination {
    margin-top: 30px;
}

.technic .swiper-pagination {
    margin-top: 30px;
}

.price .swiper-pagination {
    margin-top: 30px;
}

.commercial-text p {
    padding-left: 16px !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    background-color: #F8F8F8 !important;
}

.commercial-text {
    background-color: #F8F8F8 !important;
}

.read-more-text1::after {
    content: "\003e";
    margin-left: 5px;
    font-size: 16px;
    position: absolute;
    color: #FF3E79;


}

.read-more-text1 {
    font-weight: bold;
    padding-left: 16px !important;
    padding-right: 30px !important;
    background-color: #F8F8F8 !important;
}