@font-face {
    font-family: "tt";
    src: url(../font/TTLakes-Regular.ttf);
}

body {
    font-family: "tt";
    background-color: #F8F8F8;
    border-bottom: solid 1px #D9FFF5;
}

.main__title {
    padding-left: 12px;
    position: relative;
    font-weight: 900;
}

.main__title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text-about p {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
}

.read-more-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.arrow {
    padding-left: 16px;
}


.read-more-text {
    margin-left: 8px;
}

.company-picture {
    width: 100%;
    margin-top: 16px;
}

.swiper1 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 5;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 16px;
}


.slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 210px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
}

.slide1 {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 210px;
    height: 16px;
    border: 2px solid #B8FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    white-space: nowrap;
}

.second-heading {
    border-top: solid 1px #D9FFF5;
    background-color: #FFFFFF;
    color: #7E7E82;
    font-size: 16px;
    font-weight: lighter;
    padding: 16px 16px;
}

.swiper2 {
    display: flex !important;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory !important;
    scroll-behavior: smooth !important;
    gap: 5 !important;
    padding: 10px 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    margin-left: 16px !important;

}

.slide2 {
    display: flex !important;
    flex: 0 0 auto !important;
    width: 220px !important;
    height: 32px !important;
    gap: 40px !important;
    background-color: #FFFFFF !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;
    margin-right: 16px !important;
}

.brand-image {
    width: 108px;
    height: 32px;
    object-fit: contain;
}

.brand-go {
    width: 35px;
    height: 35px;
    padding-left: 30px;
}

.swiper3 {
    display: flex !important;
    position: relative;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory !important;
    scroll-behavior: smooth !important;
    gap: 5 !important;
    padding: 10px 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    margin-left: 16px !important;

}

.slide3 {
    display: flex !important;
    flex: 0 0 auto !important;
    width: 220px !important;
    height: 150px !important;
    gap: 40px !important;
    background-color: #FFFFFF !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;
    margin-right: 16px !important;
}

.brand-go-technic {
    position: absolute;
    width: 35px;
    height: 35px;
    padding-left: 184px;
    padding-top: 125px;
}

.my-swiper-pagination {
    width: 100%;
    bottom: -0px;
    left: 0;
    height: 20px;
}


.swiper4 {
    display: flex !important;
    overflow-x: auto !important;
    scroll-snap-type: x mandatory !important;
    scroll-behavior: smooth !important;
    gap: 5 !important;
    padding: 10px 0 !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    margin-left: 16px !important;
}

.slide4 {
    display: flex !important;
    flex: 0 0 auto !important;
    width: 250px !important;
    height: 200px !important;
    background-color: #FFFFFF !important;
    border-radius: 6px !important;
    border: 2px solid #EAEAEA !important;
    margin-right: 16px !important;
    flex-direction: column !important;
    font-size: 14px !important;
}

.slide4 h3 {
    color: #7E7E82;
    font-weight: lighter;
    margin-left: 16px;
}

.slide4 p {
    font-weight: lighter;
    margin-top: -10px;
    margin-left: 16px;
    margin-bottom: -2px;
}

.order {
    background-color: #FF3E79;
    border-radius: 16px !important;
    border: 2px solid #EAEAEA !important;
    color: #FFFFFF;
    height: 32px;
    width: 119px;
    position: absolute;
    margin-left: 120px;
    margin-top: 160px;
    font-weight: bold;
}
