#checkstatusMenu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    overflow-y: auto;
    background-color: white;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    @media (min-width: 768px) {
        left: auto;
        right: 0;
        transform: translateX(100%);
        width: 320px;
    }
}

#checkstatusMenu.open {
    transform: translateX(0);
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);

    @media (min-width: 768px) {
        box-shadow: -8px 0 20px rgba(0, 0, 0, 0.3);
    }
}

.checkstatus-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 45px;
    margin-bottom: 20px;
}

.status-info-block {
    padding-left: 16px;
    width: 85%;
    font-size: 14px;
    padding-top: 35px;
}

.status-login-block {
    padding-left: 16px;
    width: 85%;
    font-size: 14px;
    padding-top: 15px;
}

.burger__navigation--link-action {
    margin-left: 16px;
    margin-top: 20px;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;

    @media (min-width: 1440px) {
        margin-top: 200px;
    }
}

.next-step {
    margin-top: 8px;
}